.input:focus {

}

.input {
    box-sizing: border-box;
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 36px;
    width: 237px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0px 7px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;

}

.superInput {

}

.errorInput {
    border: 1px solid #CC1439;
    border-radius: 5px;
    box-sizing: border-box;
}

.errorInput:focus {
}

.error {
    color: #cc1439;
    font-size: .625rem;
    line-height: 1.2;
}
