.friendMessage {
    margin-top: 47px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03);
    background: #F5F7FB;
    margin-left: 10px;
    position: relative;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendText:after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #F5F7FB;

}

.friendName {
    margin: 1px 25px 3px 13px;
}

.friendMessageText {
    margin: 1px 25px 3px 13px;
}

.friendTime {
    font-size: 10px;
}
