.greetingForm {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 30px 0 267px 0;
}


.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    margin: 9px 0 7px 0;
}

.error {
    padding-top: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #cc0000;
}

input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    min-height: 36px;
    min-width: 237px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0 12px 0 0;
}

input:focus {
}

.errorInput {
    border: 1px solid #cc0000;
}

.button {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    height: 36px;
    padding: 8px 24px;
    border-radius: 3px;
    background: #0066CC;
    color: #FFFFFF;
}

.button:focus {
}

.button:active {

}

.button:disabled {
    opacity: 0.5;
}

.text {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.greeting {
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
